body{
  margin:0;
  background:#111;
  color:white;
  font-family:sans-serif;
}

.app-container{
  max-width:480px;
  margin:auto;
}

.header{
  text-align:center;
  padding:20px;
}

.logo{
  font-size:22px;
  letter-spacing:3px;
}

.menu{
  margin-top:10px;
}

.menu button{
  margin:5px;
  padding:10px 20px;
  border:none;
  background:#222;
  color:white;
  border-radius:6px;
}

.menu button.active{
  background:#c7a45d;
  color:black;
}

.content{
  padding:15px;
}
